# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
logs/
*.log

# Trained models
models/*.pt
models/*.pth

# OS files
.DS_Store
Thumbs.db

# Dataset files
data/raw/
data/processed/
data/splits/